nav,
header {
  align-items: center;
  background-color: black;
  color: white;
  font-weight: bold;

  width: 100%;
  height: 11vh;
}

nav > ul {
  display: flex;
  list-style: none;
}

nav > ul > li {
  font-size: 1.3rem;
  text-align: center;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  width: 33vw;
}

nav a {
  color: white;
}

h1 {
  margin: 0px;
}

body {
  margin: 0px;
}

.flex {
  display: flex;
}
.sectLeft {
  width: 30vw;
}

.sectLeft > h1 {
  text-align: center;
  padding-top: 1rem;
  font-weight: 900;
}

.sectLeft > p {
  text-align: center;
}

.sectRight {
  width: 70vw;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}