#chat {
  display: block;
  overflow-y: scroll;
  width: 80vw;
  height: 30rem;
  border: 1px solid #ced4da;
  border-radius: 1rem;
}
#sendForm {
  width: 20em;
}

.message {
  width: auto;
  margin-left: 1rem;
  margin-right: 1rem;
}

.msg-other {
  text-align: left;
}

.msg-me {
  text-align: right;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.sectLeft {
  width: 30vw;
}

.sectLeft > h1 {
  text-align: center;
  padding-top: 1rem;
  font-weight: 900;
}

.sectLeft > p {
  text-align: center;
  padding: 0.8rem;
}

.sectRight {
  width: 70vw;
}

.videoPicture {
  padding: 1.2rem;
}