#chat {
  display: block;
  overflow-y: scroll;
  width: auto;
  height: 30rem;
  border: 1px solid #ced4da;
  border-radius: 1rem;
  margin: 50px;
}
#sendForm {
  width: 20em;
}

.message {
  width: auto;
  margin-left: 1rem;
  margin-right: 1rem;
}

.msg-other {
  text-align: left;
}

.msg-me {
  text-align: right;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

section > p,
section > h1 {
  text-align: center;
  padding: 0.8rem;
}

.videoPicture {
  margin: 5vw;
  width: calc(40vw - 7px);
}

#youtube {
  height: 25vw;
}

.table {
  width: 80vw;
  margin: 10vw;
}

@media (max-width: 800px) {
  .videoPicture {
    margin: 5vw;
    width: calc(90vw - 7px);
  }
  #youtube {
    height: 56.25vw;
  }
}

table.table > tbody > tr > td > img {
  width: 100%;
  height: 100%;
}

table.table > tbody > tr > th {
  font-size: x-large;
}
